---
title: Roses
flower: Roses
genes:
- Red
- Yellow
- White
- Shade
---
<div class="row mb-3">
	<div class="col">
		<form id="parents" action="" method="get">
			{% for i in (1..2) %}
			<fieldset class="mb-3" name="parent-{{ i }}">
				<legend class="sr-only">Parent {{ i }}</legend>
				<div class="input-group">
					<div class="input-group-prepend" aria-hidden="true">
						<span class="input-group-text">Parent {{ i }}</span>
					</div>
					{% for gene in page.genes %}
					{% assign letter = gene | slice: 0 %}
					<select class="form-control" name="parent-{{ i }}-{{ gene | downcase }}" required>
						<option value="" selected disabled>{{ gene }}</option>
						<option value="3">{{ letter | upcase }}{{ letter | upcase }}</option>
						<option value="2">{{ letter | upcase }}{{ letter | downcase }}</option>
						<option value="0">{{ letter | downcase }}{{ letter | downcase }}</option>
					</select>
					{% endfor %}
				</div>
			</fieldset>
			{% endfor %}
			<button type="submit" class="btn btn-primary">Compute</button>
		</form>
	</div>
</div>
<div class="row">
	<div class="col">
		<table class="table">
			<thead>
				<tr>
					<th>Color</th>
					<th>Probability</th>
				</tr>
			</thead>
			<tbody id="output">
			</tbody>
		</table>
	</div>
</div>
<script type="text/javascript">
	(function () {
		const data = new Map([
			//{% assign flower = page.flower | downcase %}
			//{% for phenotypes in site.data[flower] %}
			[
				//{% for gene in page.genes %}
				({{ phenotypes[gene] }} << {{ forloop.rindex0 | times: 2 }}) {% if forloop.last == false %}|{% else %},{% endif %}
				//{% endfor %}
				"{{ phenotypes['Phenotype'] }}"
			]{% if forloop.last == false %},{% endif %}
			//{% endfor %}
		]);

		function* generateVariations(p) {
			switch (p) {
				case 0:
					yield* [0, 0];
					break;

				case 2:
					yield* [1, 0];
					break;

				case 3:
					yield* [1, 1];
					break;
			}
		}

		function* generateGenotypeVariations(p1, p2) {
			for (const i of generateVariations(p1)) {
				for (const j of generateVariations(p2)) {
					let v = (i << 1) | j;
					if (v == 1) v <<= 1;
					yield v;
				}
			}
		}

		function* generateGenotypeVariationsFromParents(p1, p2) {
			for (let i = 0; i < p1.elements.length; i++) {
				yield generateGenotypeVariations(
					parseInt(p1.elements[i].value, 10),
					parseInt(p2.elements[i].value, 10));
			}
		}

		window.addEventListener('DOMContentLoaded', function () {
			$("#parents").submit(function (e) {
				const form = this;
				const results = {};
				const $output = $("#output").empty();

				const genotypesVariations = Array.from(
					generateGenotypeVariationsFromParents(form.elements["parent-1"], form.elements["parent-2"]),
					x => Array.from(x));

				const phenotypeCombinations = genotypesVariations.reduce(
					(current, next) => current.flatMap(c => next.map(n => (c << 2) | n)));

				for (const c of phenotypeCombinations) {
					const phenotype = data.get(c);
					results[phenotype] |= 0;
					results[phenotype]++;
				}

				for (const [key, value] of Object.entries(results)) {
					$output.append("<tr><td>" + key + "</td><td>" +
						(value * 100 / phenotypeCombinations.length) + "% (" + value + " / " + phenotypeCombinations.length +
						")</td></tr>");
				}

				e.preventDefault();
				return false;
			});
		});
	})();
</script>